header {
    font-size: 70px;
    font-weight: 600;
    color:  #1E86B0;
    -webkit-background-clip: text;
    background-clip: text;
  }

  :host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon{
    color: #c6b644 !important;
}